.modal-window__input{
    margin: 34px 0;
    padding: 18px 16px;
    width: 100%;
    font-size: 24px;
    color: #C9E1C5;
    background: #282C39;
    border: 1px solid #3C4050;
    border-radius: 16px;
}

.modal-window__p {
    margin-top: 34px;
    font-weight: 400;
}

@media (max-height: 768px) {
    .modal-window__p {
        font-size: 16px;
    }

    .modal-window__input{
        font-size: 20px;
    }
}

@media (max-width: 425px) {
    .modal-window__input{
        font-size: 16px;
        padding: 15px 10px;
    }

    .modal-window__p {
        font-size: 16px;
        color: #818980;
    }

    button {
        width: 100%;
    }
}