.modal-window input {
    margin: 34px 0;
    padding: 18px 16px;
    width: 100%;
    font-size: 24px;
    color: #C9E1C5;
    background: #282C39;
    border: 1px solid #3C4050;
    border-radius: 16px;
}

.modal-window span {
    font-size: 20px;
    font-weight: 400;
}

@media (max-height: 768px) {
    .modal-window span {
        font-size: 16px;
    }

    .modal-window input {
        font-size: 20px;
    }
}

@media (max-width: 430px) {
    .modal-window input {
        font-size: 16px;
        padding: 15px 10px;
    }

    .modal-window span {
        font-size: 16px;
        color: #818980;
    }
    
}