.modal-window a {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 190px;
    margin-bottom: 34px;
}

.modal-window a img {
    margin-left: 5px;
}

@media (max-width: 430px) {
    .modal-window a {
        max-width: 100%;
    }

}