.main-page {
    overflow-x: hidden;
    min-height: 100vh;
    padding: 0 20px;
    padding-bottom: 20px;
}

.clock-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.futuristic-pics {
    display: flex;
    margin-right: -30px;
    margin-left: 10px;
}

.futuristic-pics .futuristic-pics__item {
    width: 100%;
    height: auto;
    padding-right: 10px;
    border-radius: 4px;
}

.undertext {
    margin-top: 6px;
    margin-bottom: 142px;
    font-family: 'Haskoy', serif;
}

@media (max-width: 850px) {
    .main-page {
        padding-left: 15px;
        padding-right: 10px;
    }

    .clock-wrapper {
        flex-direction: column-reverse;
        align-items: flex-start;
    }

    .futuristic-pics {
        margin-left: 0;
        margin-top: 30px;
        margin-right: 0;
        margin-bottom: 20px;
    }

    .futuristic-pic {
        width: 100%;
        height: auto;
    }

    .undertext {
        margin-bottom: 50px;
    }
}

@media (max-width: 429px) {
    .undertext {
        font-size: 1rem;
    }
}