.clock-container {
    margin-top: 128px;
    font-size: 3rem;
}

.clock-container-aboutpage {
    padding-bottom: 20px;
    font-size: 1.3rem;
}

.clock-container__p {
    font-family: 'Prata', serif;
    font-size: inherit;
}

.time-space-fix, .time-space-fix-aboutpage {
    display: inline-block;
    text-align: center;
    font-family: inherit;
    font-size: inherit;
}

.time-space-fix {
    width: 3.6rem;
}

@media (max-width: 1535px) {
    .clock-container {
        font-size: 2.5rem;
    }

    .time-space-fix {
        width: 3rem;
    }
}

@media (max-width: 1335px) {
    .clock-container {
        font-size: 1.6rem;
    }

    .time-space-fix {
        width: 2rem;
    }
}

@media (max-width: 1050px) {
    .clock-container {
        font-size: 1.2rem;
    }

    .time-space-fix {
        width: 1.5rem;
    }
}

@media (max-width: 850px) {
    .clock-container {
        margin-top: 0;
    }
}

@media (max-width: 429px) {
    .clock-container {
        font-size: 1rem;
    }

    .time-space-fix {
        width: 1.3rem;
    }

    .clock-container-aboutpage {
        font-size: 1rem;
    }

    .time-space-fix-aboutpage {
        width: 1.3rem;
    }
}


@media (max-width: 375px) {
    .clock-container {
        font-size: .95rem;
    }

    .time-space-fix {
        width: 1.25rem;
    }

    .clock-container-aboutpage {
        font-size: .8rem;
    }

    .time-space-fix-aboutpage {
        width: 1rem;
    }
}