.clock-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.clock-container {
    margin-top: 128px;
    font-family: 'Prata', 'Haskoy', serif;
    font-size: 3.75rem;
}

.time-space-fix {
    display: inline-block;
    text-align: center;
    width: 4.5rem;
}

@media (max-width: 1535px) {
    .clock-container {
        font-size: 2.8rem;
    }

    .time-space-fix {
        width: 3.5rem;
    }
}

@media (max-width: 1281px) {
    .clock-container {
        font-size: 1.9rem;
    }

    .time-space-fix {
        width: 2.5rem;
    }
}

@media (max-width: 1023px) {
    .clock-container {
        font-size: 1.5rem;
    }

    .time-space-fix {
        width: 1.9rem;
    }
}

@media (max-width: 850px) {
    .clock-wrapper {
        flex-direction: column-reverse;
        align-items: flex-start;
    }

    .clock-container {
        margin-top: 0;
    }
}

@media (max-width: 429px) {
    .clock-container {
        font-size: 1.2rem;
    }

    .time-space-fix {
        width: 1.5rem;
    }
}