@import 'font-face';

* {
  box-sizing: border-box;
  font-family: 'Haskoy', serif;
  font-size: 20px;
  font-weight: 500;
}

html {
  background-color: #131723;
}

.App {
  color: #C9E1C5;
}

a {
  text-decoration: none;
  color: #C9E1C5;
}

p {
  margin: 0;
}

h3 {
  margin: 0;
}

ul {
  padding-left: 0;
  margin: 0;
  list-style: none;
}

button {
  padding: 0;
  border: none;
  background-color: inherit;
  cursor: pointer;
}

@media (max-width: 374px) {

  * {
    font-size: 16px;
  }
}