.about-page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding-left: 20px;
    padding-right: 10px;
}

.about-page .link-container {
    padding: 10px 10px 0 10px;
    border: 1px solid #C9E1C5;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    border-bottom: none;
    background-color: #1e212c;
}

.about-page__info-wrapper {
    position: relative;
} 

.about-page__info-wrapper::before {
    content: '\00a0';
    position: absolute;
    width: 105px;
    height: 36px;
    right: 0;
    border-right: 1px solid #C9E1C5;
    background-color: #1e212c;
}

.about-page__info-wrapper::after {
    content: '\00a0';
    position: absolute;
    width: 20px;
    height: 35px;
    top: -1px;
    right: 104px;
    border-bottom-right-radius: 15px;
    border-right: 1px solid #C9E1C5;
    border-bottom: 1px solid #C9E1C5;
    box-shadow: 5px 10px 0px 0px #1e212c;
}

.about-page__info {
    margin-top: 34px;
    padding-left: 10px;
    padding-right: 30px;
    background-color: #1e212c;
    border-radius: 60px 0 30px 30px;
    border: 1px solid #C9E1C5;
    font-family: 'Haskoy';
    font-weight: 500;
}

.about-page__info h3 {
    margin-bottom: 20px;
    padding-top: 52px;
    font-size: 30px;
    font-weight: 500;
}

.about-page__info p {
    font-weight: 400;
}

.about-page__info .clock-container {
    padding-bottom: 20px;
    font-size: 1.3rem;
}

.about-page__info .time-space-fix {
    width: 1.7rem;
}

@media (max-width: 768px) {
    .about-page {
        padding-left: 15px;
    }
}

@media (max-width: 430px) {
    .about-page__info .clock-container,  .about-page__info-text p {
        font-size: 1rem;
    }
    
    .about-page__info .time-space-fix {
        width: 1.3rem;
    }
    
}